.inspection-list-page {
  padding-bottom: 30rpx;
  min-height: 100vh;
  background-color: #f7f8fa;
}

.date-filter-container {
  margin-bottom: 20rpx;
  background-color: #fff;
}

.loading-view {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.empty-state {
  margin-top: 100rpx;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.status-0 {
  color: #ff976a !important;
}

.status-1 {
  color: #1989fa !important;
}

.status-2 {
  color: #07c160 !important;
}

.inspection-item {
  position: relative;
  background-color: #fff;
  overflow: hidden;
}

.status-container {
  position: absolute;
  top: 50%;
  right: 40rpx;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  gap: 8rpx;
}

.filter-container {
  margin-bottom: 20rpx;
  background-color: #fff;
}