.inspection-edit-page {
  padding-bottom: 30rpx;
  min-height: 100vh;
  background-color: #f7f8fa;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.submit-button-container {
  padding: 20px;
}

.submit-button {
  width: 100%;
}

/* 弹窗样式 */
.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24rpx 32rpx;
  border-bottom: 2rpx solid #f2f3f5;
}

.popup-title {
  font-size: 32rpx;
  font-weight: 500;
  color: #323233;
}

.popup-content {
  max-height: 60vh;
  overflow-y: auto;
  padding-bottom: env(safe-area-inset-bottom);
}