.disposal-list-page {
  padding-bottom: 30rpx;
  min-height: 100vh;
  background-color: #f7f8fa;
}

.loading-container {
  display: flex;
  justify-content: center;
  padding: 40rpx 0;
}

.empty-state {
  margin-top: 100rpx;
}

.status-0 {
  color: #ff976a !important;
}

.status-1 {
  color: #1989fa !important;
}

.status-2 {
  color: #07c160 !important;
}
