.admin-disposal-show-page {
  padding-bottom: 30rpx;
  min-height: 100vh;
  background-color: #f7f8fa;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.description-text {
  word-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap;
  color: #666;
  font-size: 14px;
  line-height: 1.4;
  max-width: 400rpx;
}

.no-image-text {
  color: #999;
  font-size: 14px;
}