.disposal-add-page {
  padding-bottom: 30rpx;
  min-height: 100vh;
  background-color: #f7f8fa;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.submit-button-container {
  padding: 20px;
}

.submit-button {
  width: 100%;
}

/* 弹窗样式 */
.popup-content {
  max-height: 60vh;
  overflow-y: auto;
  padding-bottom: env(safe-area-inset-bottom);
}