@import '../../../variable.less';

page {
  background: @color-bg-gradient;
}

.page-container {
  min-height: 100vh;
}

.page-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  color: @color-text-hint;
  font-size: @font-size-body;
}
