.container {
  padding-bottom: 30rpx;
  min-height: 100vh;
  background-color: #f7f8fa;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contact-list {
  width: 100%;
}

.contact-item {
  display: flex;
  align-items: center;
  padding: 8px 0;
}

.contact-info {
  margin-left: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-name {
  font-size: 16px;
  font-weight: 500;
  color: #323233;
}

.contact-role {
  font-size: 12px;
  color: #969799;
  margin-top: 4px;
}