@import 'variable.less';

page {
  background-color: @color-bg;
}

.page {
  height: 100vh;
  background-color: @color-white;
}

.scenic-title {
  font-size: @font-size-display;
  font-weight: @font-weight-bold;
  line-height: 64rpx;
  margin: 48rpx @page-padding 0;
}

.scenic-desc {
  font-size: @font-size-body;
  color: @color-text-3;
  margin: 16rpx @page-padding;
  line-height: 44rpx;
}