@import 'variable.less';

page {
  background-color: #f3f3f3;
}

.page {
  height: 100vh;
  background-color: #fff;
}

.scenic-title {
  font-size: 48rpx;
  font-weight: 700;
  line-height: 64rpx;
  margin: 48rpx 32rpx 0;
}

.scenic-desc {
  font-size: 28rpx;
  color: @gy3;
  margin: 16rpx 32rpx;
  line-height: 44rpx;
}